<%= form_with(model: blog, local: true) do |form| %>
  <% if blog.errors.any? %>
      
      <% blog.errors.full_messages.each do |message| %>
         <%= alert_gen message %>

      <% end %>
      
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title ,class: "form-control"%>
  </div>

  <div class="form-group">
    <%= form.label :body %>
    <%= form.text_area :body ,class: "form-control", rows: 15 %>
    <% blog.topic_id = 1 %>
  </div>

  <div class="form-group">
    <%= form.submit "Submit" , class: 'btn btn-primary' %>
    <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to "Back To Portfolios",portfolios_path   %></button>
  </div>
<% end %>
