<main role="main" class="container">
  <h1 class="pb-3 mb-4 font-italic border-bottom"> 
      <%= link_to 'Write a New Blog', new_blog_path  if logged_in?(:site_admin) %> <br>
      <%= link_to 'Topics', topics_path   %> 
  </h1>
  <div class= "row">
    <div class="col-md-8 blog-main">
      <%= render @blogs  %>
      <%= paginate @blogs %> 
    </div>
    <div class="col-md-4 blog-main">
      <%= render "shared/blog_sidebar" %>
    </div>
  </div>
  
  
  <!--nav class="blog-pagination">
    <a class="btn btn-outline-primary" href="#">Older</a>
    <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
  </nav-->
 
</main>

 <!-- /.blog-main -->


<!--p id="notice"><%= notice %></p>

<h1>Blogs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Date</th>
      <th>Body</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody-->
    <!-- rails render komutuyla gönderilen instance değişkenin adının tekil halini dizin içinde arar @blogs ==> _blog.html.erb vb bulursa o partial dosyasının içindeki komutu uygular-->
    <%#= render @blogs  %>
      
     
  <!--/tbody>
</table-->

 


