<main role="main" class="container">
 
<div class="col-md-8 blog-main">
  <h3 class="pb-3 mb-4 font-italic border-bottom">
  	<%= @blog.title %>
  </h3>

</div>
	<p><%= @blog.body %></p>
   
  <nav class="blog-pagination">
    <%= link_to 'Edit', edit_blog_path(@blog) if logged_in?(:site_admin) %> |
	<%= link_to 'Back', blogs_path %>
  </nav>

  <%= render 'comments/comment_form' %>
  <div id="comments" data-blog-id="<% @blog.id %>">
      <%= render @blog.comments  %>
  </div>
  
  
 
</main>






