
<h1>angular portfolio </h1>

<%= link_to "Yeni Oluştur",new_portfolio_path %>

<p></p>
<% @angular_portfolio_items.each do |x| %>
	<h2><%= link_to x.title ,portfolio_show_path(x) %></h2>
	<p><%= x.subtitle %></p>
	<p><%= x.body  %></p>
	<%= image_tag x.thumb_image unless x.thumb_image.nil? %>
	<p><%= link_to 'Sil', portfolio_path(x), method: :delete, data: { confirm: 'Kayıt Silinecektir Emin Misiniz?' }  if logged_in?(:site_admin)  %></p>
	<%= link_to "Düzenle",edit_portfolio_path(x)  if logged_in?(:site_admin)  %>

	<p></p>
<% end %>