<h1>Port items</h1>
<!--<a href="portfolios/new">Yeni Oluştur</a> 
	<a href="portfolios/<%#=portfolio_item.id%>/edit">Düzenle</a> 
bu html kullanarak link atma
alttakiler rails kodu ile link atma
rake routes yaptığımızda bize default tanımlı gösterdiği edit ve new yolları
path eklersen new_portfolio_path gibi yolu ekler portfolios/new
new_portfolio yazılırsa URL ekler http://localhost:3000/portfolios/new 
edit kodu yazarken id gerekir edit_portfolio_path(x)
-->
<%= link_to "Yeni Oluştur",new_portfolio_path %>

<p></p>
<% @portfolio_items.each do |x| %>
	<h2><%= link_to x.title ,portfolio_show_path(x) %></h2>
	<p><%= x.subtitle %></p>
	<p><%= x.body  %></p>
	<%= image_tag x.thumb_image unless x.thumb_image.nil? %>
	<p><%= link_to 'Sil', portfolio_path(x), method: :delete, data: { confirm: 'Kayıt Silinecektir Emin Misiniz?' } %></p>
	<%= link_to "Düzenle",edit_portfolio_path(x) %>

	<p></p>
<% end %>