<div class= 'container'>
	<div class = 'row'>
		<div class = 'col-md-7'>
			<%= image_tag @portfolio_item.main_image unless @portfolio_item.main_image.nil? %>
		</div>
		<div class = 'col-md-5'>
			<h1><%= @portfolio_item.title %> </h1>
			<em><%= @portfolio_item.subtitle %> </em>
			<p><%= @portfolio_item.body %> </p>
			<h2> Techologies:</h2>
			<% @portfolio_item.technologies.each do |t| %>
				<p><%= t.name %> </p>
			<%end %>
			 
		</div>
		<div class = 'col-md-6'>
			<button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to "Back To Portfolios",portfolios_path   %></button>
		</div>
	</div>
</div>







