<footer class="blog-footer">
	<div class="p-3">
     
    <ol class="list-unstyled social-links">
      <a href= "www.github.com"> <%= fa_stacked_icon "github", base: "square-o" %> </a>
      <a href= "www.twitter.com"> <%= fa_stacked_icon "twitter", base: "square-o" %> </a>
      <a href= "www.facebook.com"> <%= fa_stacked_icon "facebook", base: "square-o" %> </a>
    </ol>
  </div>
    <%= source_helper("blog") %>
    <a href="#">Back to top</a>
    <p> <%= @copyright %></p>
  
</footer>