<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= @page_title %> </title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <!--burada eklediğimiz @seo_keywords arama motoru için eklenen kelimeleri içerir -->
    <meta name = "keywords" content "<%= @seo_keywords %>" />
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicons/favicon.ico' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <div id= "background"> </div>
         
           <%= render 'shared/application_nav', location: 'top'%>
          <!-- current_user.is_a?(User) application_controller dosyasında override ettğimiz current_user metodu devise classına ait user mı yoksa oluşturduğumuz OpenStruct classına ait guest_user mı onu belirlemek için kullanıyoruz current_user.name komutuyla çalışan metodun hangi sınıfa ait olduğunu bulabiliriz -->

          <!--
          ******burdaki if döngüsü kaldırıldı çünkü view dosyalarının içinde saf ruby kodları yazmak iyi bir çalışma biçimi değildir
          onun yerine application_helper dosyasının içinde oluşturulan login_helper metodu kullanıldı


          <%#if current_user.is_a?(User) %>
            <%#= link_to "Logout", destroy_user_session_path, method: :delete %>
          <%# else %>
            <%#= link_to "Register", new_user_registration_path%>
            <%#= link_to "Login",  new_user_session_path%>
           
          <%#end %>  -->

          
        </div>
      </header>
          
          
          <%= yield %>
          <%= render 'shared/application_footer', location: 'top'%>
          <%= alerts %>
         
          

    </div>
  </body>
</html>
